:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:#ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pink {
  border: 3px double red;
  text-align:center;
  max-width:300px;
  margin-bottom: 50px;
  color: black;
  cursor: pointer;

  h1{
    text-decoration:underline;
    margin-left: 20px,0px,0px,20px;
  }
  label {
    display: block;
    margin-left: 20px;
    font-size: 28px;
  }
  h1 {
    color: brown;
  }
  #one{
 button {
    border-radius: 50%;
    padding: 20px;
    margin-left: 100px;
    max-width:max-content;
    text-align: center;
    display: block;
    font-size: 20px;
    background-color:firebrick;
  }
  }
 
}


.doto{
  background-color:cornsilk;
  text-align: left;
  max-width: max-content;
  border: 2px double grey;
  max-width: 400px;
  margin: auto;
  h2{
    text-align: center;
    color:darkgoldenrod;
  }
  input{
    padding: 20px;
    font-size: 18px;
  }
  input:focus{
    outline: none;
  }
  form{
    text-align: center;
  }
  button{
    background-color:burlywood;
    padding: 15px;
    margin-left: 15px;
  }
  ul{
    list-style-type: none;
    padding: 0px;
   
    li{
      margin-top: 10px;
      text-align: left;
      color: black;
      span{
        cursor: pointer;
        margin-left: 8px;
      }
      button{
        background-color: bisque;
        padding: 3px;
        color: black;
        display: block;
        margin-top: 20px;

      }
    }
  }
  #click{
    margin-top: 15px;
  }
 }

 .show{
  border:2px solid gray;
  border-block:initial;
  display: block;
  text-align: center;
  background-color: beige;
  h3{
    color: black;
  }
  
}
 .hide{
  button{
    /* padding: 10px; */
    border-radius: 25px;
    margin: 10px;
  }
 }
